*{
    padding: 0;
    margin: 0;
}
     body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height:100vh ;
    background-color:hsl(212, 45%, 89%) ;
   }
   .attribution {
    font-size: 11px;
     text-align: center;
    position: absolute;
    bottom: 5px;
    }
    .attribution a { 
        color: hsl(228, 45%, 44%);
        font-weight: bold;
         }
    .qr{
        background-color: white;
        border-radius: 5%;
        width: 330px;
        height: 500px;
    }
    .imagen{
        margin: 15px 15px;
        height: 300px;
        border-radius: 5%;
    }
p{
    text-align: center;
    margin: auto 30px 10px;
   font-family: "Outfit", sans-serif;
}
.p1{
    font-size: 23px;
color: hsl(218, 44%, 22%);
font-weight: 700;
}
.p2{
color: hsl(220, 15%, 55%);
font-weight: 400;
}
 
  
   

    